n8n-backup/economic-calendar/Economic Calendar-2026-03-13.json
{
  "updatedAt": "2026-03-13T23:20:46.461Z",
  "createdAt": "2026-03-08T03:28:37.390Z",
  "id": "tBWNVLnkAZTjZ6WfI_D0Q",
  "name": "Economic Calendar",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "a9419c86-c205-4d64-b698-0078866e7697",
      "name": "Daily at 1:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1264,
        296
      ]
    },
    {
      "parameters": {
        "url": "https://nfs.faireconomy.media/ff_calendar_thisweek.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d71407d6-5494-47e7-be4f-0e71e54b7449",
      "name": "Fetch Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1040,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "65771a48-054e-4f49-af63-8da6b9557b9e",
      "name": "XML to JSON",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -816,
        296
      ]
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all()[0].json.weeklyevents.event;\nconst targetEvents = ['Unemployment Rate', 'Non-Farm Employment Change', 'CPI m/m'];\n\nlet scheduledItems = [];\n// 捕捉服务器当前时间，作为对比基准\nconst now = new Date(); \n\nfor (let e of events) {\n  // 只要符合条件，不管是周几的统统拿下\n  if (e.country === \"USD\" && e.impact === \"High\" && e.title && targetEvents.includes(e.title)) {\n    let timeStr = e.time.trim().toLowerCase();\n    \n    if (timeStr.includes('all') || timeStr.includes('tentative')) continue;\n\n    let isPM = timeStr.includes('pm');\n    let [hours, mins] = timeStr.replace(/[a-z]/g, '').split(':');\n    hours = parseInt(hours);\n    mins = parseInt(mins);\n\n    if (isPM && hours !== 12) hours += 12;\n    if (!isPM && hours === 12) hours = 0;\n    \n    let dateParts = e.date.split('-');\n    let month = parseInt(dateParts[0]) - 1; \n    let day = parseInt(dateParts[1]);\n    let year = parseInt(dateParts[2]);\n\n    let releaseDateUTC = new Date(Date.UTC(year, month, day, hours, mins, 0));\n    let waitTime = new Date(releaseDateUTC.getTime() + 5 * 60000);\n    \n    // 【架构升级】：判断这个事件是不是已经成为历史了？\n    let isPast = waitTime.getTime() < now.getTime();\n    \n    scheduledItems.push({\n      json: {\n        title: e.title,\n        original_gmt_time: e.time,\n        forecast_value: e.forecast || \"N/A\",\n        previous_value: e.previous || \"N/A\",\n        resume_time: waitTime.toISOString(),\n        is_past: isPast, // 返回 true 或 false\n        url: e.url,\n        actual_value: null\n      }\n    });\n  }\n}\n\nreturn scheduledItems;"
      },
      "id": "a706a03e-5992-4e6b-a993-d2d38aa1c657",
      "name": "Calculate Release Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        296
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Calculate Release Time').item.json.resume_time }}"
      },
      "id": "42047586-f54c-4ad7-9360-8cb15420dad2",
      "name": "Wait until Release",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        296
      ],
      "webhookId": "dynamic-wait"
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=series_id",
              "value": "={{ $('Map Target Series Id').item.json.target_series_id }}"
            },
            {
              "name": "api_key",
              "value": "b286e0e0ae297e401eb324418c3d9233"
            },
            {
              "name": "file_type",
              "value": "json"
            },
            {
              "name": "sort_order",
              "value": "desc"
            },
            {
              "name": "limit",
              "value": "2"
            },
            {
              "name": "units",
              "value": "={{ $('Map Target Series Id').item.json.target_units }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eead6d57-d098-44e7-862e-7b096e24bf42",
      "name": "Fetch new FRED API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1424,
        296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ba0e8886-9f0a-4c3c-af8a-0d54dc30b90f",
              "leftValue": "={{ $json.observations[0].date }}",
              "rightValue": "={{ $('Get previous event date').item.json.observations[0].date }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        224
      ],
      "id": "29042e96-7377-4ea8-86da-f729c04c9bc7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "5minmarkets-digests",
        "fileName": "digests/economic_calendar/weekly_event.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        2544,
        176
      ],
      "id": "8a4746c6-57ef-4230-8fbc-f11ef13dab0a",
      "name": "Upload data",
      "credentials": {
        "aws": {
          "id": "4hqdV9FlJIXB42Wy",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1872,
        392
      ],
      "id": "17fb69b5-34de-4d65-a976-21c77734a79f",
      "name": "Wait",
      "webhookId": "6aeb77c6-c2d9-46d5-96e2-b91030025f84"
    },
    {
      "parameters": {
        "jsCode": "// 华尔街核心指标字典\nconst dict = {\n  \"Non-Farm Employment Change\": { id: \"PAYEMS\", units: \"chg\" },\n  \"Unemployment Rate\":          { id: \"UNRATE\", units: \"lin\" }, // lin 代表保持原样\n  \"Unemployment Claims\":        { id: \"ICSA\", units: \"lin\" },\n  \"CPI m/m\":                    { id: \"CPIAUCSL\", units: \"pch\" },\n  \"CPI y/y\":                    { id: \"CPIAUCSL\", units: \"pc1\" },\n  \"Core CPI m/m\":               { id: \"CPILFESL\", units: \"pch\" },\n  \"PCE Price Index m/m\":        { id: \"PCEPI\", units: \"pch\" },\n  \"Core PCE Price Index m/m\":   { id: \"PCEPILFE\", units: \"pch\" },\n  \"Advance GDP q/q\":            { id: \"GDP\", units: \"pca\" },\n  \"Prelim GDP q/q\":             { id: \"GDP\", units: \"pca\" },\n  \"Final GDP q/q\":              { id: \"GDP\", units: \"pca\" },\n  \"Retail Sales m/m\":           { id: \"RSAFS\", units: \"pch\" },\n  \"Federal Funds Rate\":         { id: \"FEDFUNDS\", units: \"lin\" }\n};\n\n// 拿到从上一个节点传过来的事件名字\nconst eventTitle = $('Calculate Release Time').first().json.title;\n\n// 去字典里查一下\nconst target = dict[eventTitle];\n\n// 如果查不到（说明是不重要的数据），直接返回空数组，流程在这里安静停止\nif (!target) {\n  return []; \n}\n\n// 如果查到了，把 ID 和单位附加到数据里，传给下一个 HTTP 节点\nreturn {\n  json: {\n    ...$input.all()[0].json, // 保留原来的标题、预期值等\n    target_series_id: target.id,\n    target_units: target.units\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        296
      ],
      "id": "d085ff0b-b5d1-4afe-b9a6-e0947489129b",
      "name": "Map Target Series Id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d674ae57-c619-4617-8a79-7738f6beaf38",
              "leftValue": "={{ DateTime.fromISO($('Calculate Release Time').item.json.resume_time).setZone('America/New_York').toFormat('yyyy-MM-dd') }}",
              "rightValue": "={{ $now.setZone('America/New_York').toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        296
      ],
      "id": "6d90b557-82af-40fd-83b3-d1f490699e6f",
      "name": "If date equals to today"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "5minmarkets-digests",
        "fileName": "digests/economic_calendar/weekly_event.json",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        304,
        296
      ],
      "id": "ebad92b9-78d2-4494-aa13-f8cdeeca74bd",
      "name": "Upload calendar",
      "credentials": {
        "aws": {
          "id": "4hqdV9FlJIXB42Wy",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.stlouisfed.org/fred/series/observations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=series_id",
              "value": "={{ $json.target_series_id }}"
            },
            {
              "name": "api_key",
              "value": "b286e0e0ae297e401eb324418c3d9233"
            },
            {
              "name": "file_type",
              "value": "json"
            },
            {
              "name": "sort_order",
              "value": "desc"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "units",
              "value": "={{ $json.target_units }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e805e73-fbdc-4600-8af1-2ffabdad7a50",
      "name": "Get previous event date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        976,
        296
      ]
    },
    {
      "parameters": {
        "bucketName": "5minmarkets-digests",
        "fileKey": "digests/economic_calendar/weekly_event.json"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1872,
        176
      ],
      "id": "d959d61e-2678-4a07-a8e4-cf632fabaeb1",
      "name": "Download a file",
      "credentials": {
        "aws": {
          "id": "4hqdV9FlJIXB42Wy",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2096,
        176
      ],
      "id": "e105477b-134b-48ba-8cc3-1d43f1ead8ea",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// 1. 关键第一步：知道我们在找谁？\n// 我们跨节点回到最初的起点，拿到【当前正在被处理】的那个事件的 Title\n// (注意：如果你的节点不叫这个名字，请把括号里的名字换成你画布上的实际名字)\nconst targetTitle = $('Calculate Release Time').item.json.title;\n\n// 2. 拿到刚刚从 FRED 抓回来的最新实际值\nconst fredActual = $('Fetch new FRED API').first().json.observations[0].value;\n\n// 3. 拿到你从文件里读取进来的完整事件列表 (包含了本周所有的 data)\nconst allEventsFromFile = $input.all();\n\n// 4. 执行“查找并更新”的魔法\n// 我们遍历文件里的每一个事件，看谁的 title 对得上\nconst updatedEvents = allEventsFromFile.map(element => {\n  // 提取出里面的 data 核心内容\n  let eventData = element.json.data;\n\n  // 如果这个事件的 title，刚好等于我们当前正在跑的 title\n  if (eventData.title === targetTitle) {\n    // 找到了！只给它一个人更新 FRED 数据\n    eventData.is_past = true;\n    eventData.actual_value = fredActual;\n  }\n\n  // 无论有没有更新，都把它按原来的结构拼回去\n  return {\n    json: {\n      data: eventData\n    }\n  };\n});\n\n// 5. 返回更新后的完整列表！\n// 现在你可以直接把这个返回结果，连到你的 Upload data 节点去覆盖旧文件了\nreturn updatedEvents;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        176
      ],
      "id": "d6d1e188-cc54-4b38-81fd-4e0cb79da592",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "bucketName": "5minmarkets-digests",
        "fileKey": "digests/economic_calendar/weekly_event.json"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -368,
        296
      ],
      "id": "aabfc9f5-a6c0-4aaf-827a-16ec1a34690f",
      "name": "Download a file1",
      "credentials": {
        "aws": {
          "id": "4hqdV9FlJIXB42Wy",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        296
      ],
      "id": "23eee8cc-6868-4076-84db-0128cf27e5d6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "// 1. 跨节点召唤：拿到刚刚新鲜计算出来的本周日历（全都是 null）\nconst newEvents = $('Calculate Release Time').all();\n\n// 2. 当前节点输入：拿到从云端下载回来的旧日历（里面可能保留着昨天的 actual_value）\n// 注意：如果是本周第一次跑，可能还没有旧文件，所以我们做一个容错处理\nlet oldEvents = [];\nif ($input.all()[0] && $input.all()[0].json) {\n  // 如果旧文件存在且不是空的\n  oldEvents = $input.all().map(item => item.json);\n}\n\nlet mergedEvents = [];\n\n// 3. 核心合并逻辑：遍历每一个新事件\nfor (let newEvt of newEvents) {\n  let newData = newEvt.json; // 提取新数据的 json 核心\n\n  // 在旧数据大军中，寻找有没有“同名”且“时间完全一样”的旧兄弟？\n  let foundOld = oldEvents.find(oldEvt => \n    oldEvt.title === newData.title && \n    oldEvt.resume_time === newData.resume_time\n  );\n\n  // 💥 魔法在这里：如果找到了这位旧兄弟，而且它身上已经有了实际值\n  if (foundOld && foundOld.actual_value !== null) {\n    // 把旧兄弟的 actual_value 继承过来！绝不让它被 null 覆盖！\n    newData.actual_value = foundOld.actual_value;\n  }\n\n  // 把处理好的完美数据装进新数组\n  mergedEvents.push({ json: newData });\n}\n\n// 4. 输出最终的完美日历数组，交给下一个节点去 Upload 覆盖云端文件！\nreturn mergedEvents;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        296
      ],
      "id": "5fa9b75c-d942-41a2-b5f5-53331cceb719",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Daily at 1:00 AM": {
      "main": [
        [
          {
            "node": "Fetch Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Calendar": {
      "main": [
        [
          {
            "node": "XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON": {
      "main": [
        [
          {
            "node": "Calculate Release Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Release Time": {
      "main": [
        [
          {
            "node": "Download a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait until Release": {
      "main": [
        [
          {
            "node": "Fetch new FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch new FRED API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Fetch new FRED API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Target Series Id": {
      "main": [
        [
          {
            "node": "Get previous event date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If date equals to today": {
      "main": [
        [],
        [
          {
            "node": "Map Target Series Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get previous event date": {
      "main": [
        [
          {
            "node": "Wait until Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload calendar": {
      "main": [
        [
          {
            "node": "If date equals to today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Upload calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8478a00f-bff4-47df-8ddf-7bf6a53ae9bb",
  "activeVersionId": null,
  "versionCounter": 30,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-08T03:28:37.391Z",
      "createdAt": "2026-03-08T03:28:37.391Z",
      "role": "workflow:owner",
      "workflowId": "tBWNVLnkAZTjZ6WfI_D0Q",
      "projectId": "f2FQ9BXCslPElISF",
      "project": {
        "updatedAt": "2026-01-16T20:28:19.610Z",
        "createdAt": "2026-01-16T20:27:28.529Z",
        "id": "f2FQ9BXCslPElISF",
        "name": "Joe Lin <joelin2012@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "66ae0bfa-db06-48f7-832a-98ff261fdd7a",
        "projectRelations": [
          {
            "updatedAt": "2026-01-16T20:27:28.529Z",
            "createdAt": "2026-01-16T20:27:28.529Z",
            "userId": "66ae0bfa-db06-48f7-832a-98ff261fdd7a",
            "projectId": "f2FQ9BXCslPElISF",
            "user": {
              "updatedAt": "2026-03-13T04:48:37.000Z",
              "createdAt": "2026-01-16T20:27:28.428Z",
              "id": "66ae0bfa-db06-48f7-832a-98ff261fdd7a",
              "email": "joelin2012@hotmail.com",
              "firstName": "Joe",
              "lastName": "Lin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-16T20:28:36.567Z",
                "personalization_survey_n8n_version": "2.3.6",
                "companyType": "personal",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}